.cabeçalho{
    width: 10px;
}

.sessao1{
    background-color: #90DA63;
}

.titulo1{
    text-align: center;
color: white;
}

.texto1{
    color: white;
}

.sessao2{
    background-color: #D9D9D9 ;
}

.titulo2{
    text-align: center;
}

.imgcampo{
width: 30%;
}

.imgcaminhao{
    width: 15%;
}

.imgcidade{
    width: 25%;
}